.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.serverErrorInfo
{
    color: rgb(182, 0, 0);
    width: 100%;
    font-size: 0.7rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:376px)
{
    .form
    {
        gap:0.4rem
    }

    .serverErrorInfo
    {
        width: 90%;
    }
}

@media screen and (min-width:426px)
{
    .form
    {
        gap:0.6rem
    }

    .serverErrorInfo
    {
        width: 80%;
    }
}

@media screen and (min-width:601px)
{
    .form
    {
        gap:0.8rem
    }

    .serverErrorInfo
    {
        width: 70%;
        font-size: 0.8rem;
    }
}

@media screen and (min-width:769px)
{
    .form
    {
        gap:1.2rem
    }

    .serverErrorInfo
    {
        width: 60%;
    }
}

@media screen and (min-width:901px)
{
    .form
    {
        gap:1rem
    }

    .serverErrorInfo
    {
        width: 50%;
    }
}

@media screen and (min-width:1025px)
{
    .serverErrorInfo
    {
        font-size: 0.9rem;
    }
}