.spinner
{
    width: 3.5rem;
    height: 3.5rem;
    transform: rotate(135deg);
    animation: rotate 1s linear 0s infinite;
}

@keyframes rotate
{
    0%
    {
        transform: rotate(135deg);
    }

    20%
    {
        transform: rotate(180deg);
    }

    80%
    {
        transform: rotate(450deg);
    }

    100%
    {
        transform: rotate(495deg);
    }
}