.container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem 0;
}

.dottedLine
{
    width: calc(100% - 10.5rem);
    height: 0;
    border-bottom: 5px dotted rgb(80, 80, 80);
}

.name
{
    width: 5rem;
    font-size: 1.2rem;
}

.price
{
    width: 5.5rem;
    text-align:right;
    font-size: 1.2rem;
}

@media screen and (min-width:426px) {

    .container
    {
        padding: 1rem 0;
    }

    .price
    {
        width: 6.5rem;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .name
    {
        width: 6.5rem;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .dottedLine
    {
        width: calc(100% - 15rem);
    }

}

@media screen and (min-width:769px) {
    .container
    {
        padding: 1.4rem 0;
    }

    .price
    {
        width: 9rem;
        font-size: 1.7rem;
        margin-right: 2rem;
    }

    .name
    {
        width: 9rem;
        font-size: 1.7rem;
        margin-left: 2rem;
    }

    .dottedLine
    {
        width: calc(100% - 22rem);
        border-bottom: 6px dotted rgb(80, 80, 80);
    }
}

@media screen and (min-width:1025px) {
    .container
    {
        padding: 1.6rem 0;
    }

    .price
    {
        width: 12rem;
        font-size: 1.9rem;
    }

    .name
    {
        width: 12rem;
        font-size: 1.9rem;
    }

    .dottedLine
    {
        width: calc(100% - 28rem);
    }
}

@media screen and (min-width:1251px) {
    .container
    {
        padding: 1.8rem 0;
    }

    .price
    {
        width: 14rem;
        font-size: 2rem;
        margin-right: 2.5rem;
    }

    .name
    {
        width: 14rem;
        font-size: 2rem;
        margin-left: 2.5rem;
    }

    .dottedLine
    {
        width: calc(100% - 33rem);
    }
}