.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.2rem;
}

.serverError
{
    color: rgb(182, 0, 0);
    font-weight: bold;
    width: 100%;
    padding-left: 0.1rem;
    font-size: 0.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:376px)
{
    .serverError
    {
        width: 90%;
    }
}

@media screen and (min-width:426px)
{
    .serverError
    {
        width: 80%;
    }
}

@media screen and (min-width:601px)
{
    .serverError
    {
        width: 70%;
        font-size: 0.9rem;
    }
}

@media screen and (min-width:769px)
{
    .serverError
    {
        width: 60%;
    }
}

@media screen and (min-width:901px)
{
    .serverError
    {
        width: 50%;
    }
}

@media screen and (min-width:1025px)
{
    .serverError
    {
        font-size: 1rem;
    }
}
