.header
{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.text
{
    text-align: justify;
    margin:1.2rem 0;
}

.imageContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.imageContainer img
{
    -webkit-box-shadow: 0px 0px 8px 1px rgb(168, 168, 168);
    -moz-box-shadow: 0px 0px 8px 1px rgb(168, 168, 168);
    box-shadow: 0px 0px 8px 1px rgb(168, 168, 168);
    border-radius: 10px;
    max-width: 100%;
}


@media screen and (min-width:376px)
{
    .imageContainer img
    {
        max-width: 60%;
    }
}

@media screen and (min-width:426px) {
    .header
    {
        font-size: 1.8rem;
    }
}

@media screen and (min-width:601px)
{
    .text
    {
        margin:1.3rem 0;
    }

    .header
    {
        margin-bottom: 1.3rem;
    }

    .imageContainer img
    {
        max-width: 50%;
    }
}

@media screen and (min-width:769px)
{  
    .text
    {
        margin: 1.4rem 0;
        font-size: 1.2rem;
    }

    .header
    {
        font-size: 2.4rem;
        margin-bottom: 1.4rem;
    }
}

@media screen and (min-width:1025px)
{
    .text
    {
        margin: 1.5rem 0;
        font-size: 1.3rem;
    }

    .header
    {
        margin-bottom: 1.5rem;
    }


}

@media screen and (min-width:1201px)
{
    .text
    {
        font-size: 1.4rem;
    }

    .imageContainer img
    {
        max-width: 40%;
    }
}

@media screen and (min-width:1601px)
{
    .text
    {
        font-size: 1.5rem;
    }
}