.container {
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}

.header {
  font-size: 2rem;
  color: var(--color-primary-text);
  font-family: "Gelasio", serif;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  padding: 0.45rem 0.65rem;
  border-radius: 8px;
  background-color: var(--color-background-params);
  color: var(--color-primary-text);
  display: block;
}

.backLink{
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 0.85rem;
  color: var(--color-secondary-text);
  text-decoration: none;
  margin-bottom: 1.75rem;
  transform: translateX(-6px);
}

.backLink svg{
  transition: transform 0.3s ease-out;
}

.backLink:hover svg{
  transform: translateX(-4px);
}

@media screen and (min-width: 769px) {
  .header {
    font-size: 3rem;
  }
}
