:root {
  --color-primary: #8f5924;
  --color-secondary: #b77c4f;
  --color-background: #f8f5f2;
  --color-background-secondary: #fbf5ee;
  --color-separator: #8f5924;
  --color-primary-text: #32241b;
  --color-secondary-text: #836f61;
  --color-card-background: #fbfaf8;
  --color-background-params: #ece7df;
}

* {
  font-family: "Poppins", serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 180%;
}
